<div class="row">
  <div class="col-12">
    <h1 *ngIf="selectedFormMode === FormMode.CREATE">Create New Image...</h1>
    <h1 *ngIf="selectedFormMode === FormMode.EDIT">Edit Image...</h1>
    <form novalidate (ngSubmit)="submitForm()" [formGroup]="form">
      <div class="form-group row">
        <label for="title" class="col-sm-2 col-form-label col-form-label-lg">Title</label>
        <input type="text"
               class="col-sm-10 form-control form-control-lg"
               id="title"
               formControlName="title"
               placeholder="Some nice title..."/>
      </div>
      <div class="form-group row">
        <label for="subtitle" class="col-sm-2 col-form-label col-form-label-lg">Subtitle</label>
        <textarea class="col-sm-10 form-control form-control-lg"
                  id="subtitle"
                  formControlName="subtitle"
                  placeholder="Some nice subtitle..."></textarea>
      </div>
      <div class="form-group row">
        <label for="url" class="col-sm-2 col-form-label col-form-label-lg">URL</label>
        <input type="text"
               class="col-sm-10 form-control form-control-lg"
               id="url"
               formControlName="url"
               placeholder="http://example.com/image/some_nice_image.png"/>
      </div>
      <div class="row">
        <div class="offset-2 col-sm-10">
          <button type="submit" class="btn btn-lg btn-block btn-primary">
            <i class="fas fa-check"></i>
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
